$colorMain: #ff66bb;
$colorSecond: #ff3584;
$colorThird: #c90f56;
$colorSuccessLight: #0BFCAD;
$colorSuccessDark: rgb(1, 109, 121);
$colorFailureDark: rgb(177, 0, 74);
$colorGradientLight: #F4BA6E;
$colorGradientVeryLight: rgb(250, 206, 149);
$colorGradientDark: #9D39A5;
$colorDark: rgb(22, 16, 24);
$colorPurpleDark: rgb(25, 4, 32);
$colorPurpleSemiDark: rgb(54, 1, 41);
$colorSemiDark: #887884;
$colorMiddle: #cac2c8;
$colorSemiLight: #fafadf;

$colorPink: #FF84B9;
$colorYellow: #FFF2A4;