// Lora
@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora-regular-webfont.woff2') format('woff2'),
            url('../fonts/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lorabold';
    src: url('../fonts/lora-bold-webfont.woff2') format('woff2'),
         url('../fonts/lora-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lorabold_italic';
    src: url('../fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lora-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'loraitalic';
    src: url('../fonts/lora-italic-webfont.woff2') format('woff2'),
         url('../fonts/lora-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Champagne
@font-face {
    font-family: 'champagneregular';
    src: url('../fonts/champagne__limousines-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'champagnebold';
    src: url('../fonts/champagne__limousines_bold-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'champagneitalic';
    src: url('../fonts/champagne__limousines_italic-webfont.woff2') format('woff2'),
         url('../fonts/champagne__limousines_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Poly
@font-face {
    font-family: 'polyitalic';
    src: url('../fonts/poly-italic-webfont.woff2') format('woff2'),
         url('../fonts/poly-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'polyregular';
    src: url('../fonts/poly-regular-webfont.woff2') format('woff2'),
         url('../fonts/poly-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Cabin
@font-face {
    font-family: 'cabinregular';
    src: url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinmedium';
    src: url('../fonts/cabin-medium-webfont.woff2') format('woff2'),
         url('../fonts/cabin-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Amita
@font-face {
    font-family: 'amitabold';
    src: url('../fonts/amita-bold-webfont.woff2') format('woff2'),
         url('../fonts/amita-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amitaregular';
    src: url('../fonts/amita-regular-webfont.woff2') format('woff2'),
         url('../fonts/amita-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}