@import "constants.scss";

.part {
  padding: 20px;

  &-title {
    text-align: center;
  }

  &-dark {
    padding-top: 10px;
    background-image: linear-gradient(180deg, #FFF 10%, $colorYellow 95%);
    
    &::after {
      content: '';
      display: block;
      position: relative;
      width: 100%;
    
      padding-bottom: 2.77%;
      background-image: url('../images/rect.svg');
      background-size: cover;
      margin-top: 4vh;
      z-index: 100;
      margin-bottom: -.1875rem;
    }
  }
}

.slick {
  &-track {
    overflow: hidden !important;  
  }

  &-prev, 
  &-next {
    display: none !important;
  }
}