@import "constants.scss";


.toast-container {
  position: fixed;
  z-index: 99999;
  pointer-events: none;
}

.toast {
  border-radius: 5px !important;
  &-success {
    background-color: $colorSuccessDark !important;
  }

  &-error {
    background-color: $colorFailureDark !important;
  }
}