@import "constants.scss";

.toast {
  border-radius: 5px !important;
  &-success {
    background-color: $colorSuccessDark !important;
  }

  &-error {
    background-color: $colorFailureDark !important;
  }
}