@import "constants.scss";

#toast-container {
  position: fixed !important;
  z-index: 99999 !important;
  pointer-events: none !important;
}

.toast {
  border-radius: 5px !important;
  &-success {
    background-color: $colorSuccessDark !important;
  }

  &-error {
    background-color: $colorFailureDark !important;
  }

  &-top-right {
    top: 12px !important;
    right: 12px !important;
  }
}